[submodule "tracer"]
	path = tracer
	url = https://github.com/season-lab/qemu.git
	branch = symbolic
[submodule "solver/xxHash"]
	path = solver/xxHash
	url = https://github.com/Cyan4973/xxHash.git
	branch = master
[submodule "solver/fuzzy-sat"]
	path = solver/fuzzy-sat
	url = https://github.com/season-lab/fuzzy-sat.git
